/* Map Page */
.map-container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.map-viz {
  background-color: #eff6ff;
  width: 100%;
  height: 600px;
  border-radius: 0.5rem;
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.05);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e7e5e4;
}

.map-label {
  position: absolute;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  font-size: 0.75rem;
}

