/* 404 Page */
.not-found-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  text-align: center;
}

.error-code {
  font-size: 8rem;
  font-weight: bold;
  color: #e7e5e4;
  line-height: 1;
  margin-bottom: 1rem;
}

.error-msg {
  font-size: 1.5rem;
  font-weight: bold;
  color: #292524;
  margin-bottom: 0.5rem;
}

